@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i');

/*
 * Standard styling voor de gehele applicatie
 */
.navbar-fixed-bottom{
    clear:both !important;
    position:relative !important;
    
}
.navbar-fixed-top{
    position:absolute;
}

html
{
    min-height: 100%;
}

body
{
    height: 100%;
    padding:0;
    margin:0;
    
/*    min-height: 100%;
    margin-top: 45px;*/
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
.files_info_table>table{
    border-spacing: 5px;
    border-collapse: inherit;
}
.files_info_table>table>tbody>tr>td{
    border:none !important;
    font-size:20px;
    font-weight:700;
}
.files_info_table>table>tbody>tr>.table_file_info{
    border: 1px #000000 solid !important;
}
.topMenu {
    font-weight:700;
    font-size:25px !important;
    margin-top:5px;
}

.navbar-nav {
    float: right;
    margin-top: 40px;
}

.navbar-default .navbar-nav {
    margin-right: 0px !important;
    margin-left: 50px;
    margin-right: 50px;

    
}

img.logo-img {
    height: 22px;
    width: auto;
}

.container {
    min-height:100%;
    padding: 0;
    margin-top: 120px;
}
.panel-default {
    border:none;
}


.navbar-default .navbar-nav>li>a {
    font-weight: bold;
    text-align: center;
    color: #1e80b7;
    
}.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a {
    border-bottom: 3px solid #292f72;


}

.navbar-default {
    height: 120px !important;
}
ul.nav.navbar-nav {
    margin-left: 50px;
    margin-right: 50px;
/*    margin-top: 20px;*/
    font-size: 17px;
}

a.navbar-brand {
    padding-top: 0;
    margin: 5px 0px 0px 10px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background: none;
    box-shadow: none;
}

a {
    cursor: pointer;
}

.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

th, .bedrijf-row {
    cursor:pointer;
}

.tag {
    margin: 3px;
    padding-top: 5px;
    cursor: pointer;
}

.buttons {
    margin: 0px 0px 10px 0px;
}

.center {
    text-align: center;
}

.hover-table tr:hover td {
    background: #008a9a;
    color: white;
    cursor: pointer;
}

.terug {
    float: right;
    font-size: 14px;
    font-weight: bold;
}

.alertify {
    z-index: 100000;
}

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

.spinner {
    width: 90px;
    display: block;
    margin: 56px auto;
}