/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 19, 2016, 1:47:28 PM
    Author     : Sezer
*/
.Spacer {
    height: 100px;
}

.bodyMainContainer {
    margin-left: 15px;
    margin-right: 15px;
}

.panel-heading {
    color: #FFFFFF;
}

.title {
    color: rgb(51, 51, 51);
}

.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   /*height:30px;*/
   width: 50%;
}

.tablecontrols {
    text-align: center;
}

.float-left {
    float: left;
    width: 23.5%;
    height: 300px;
    padding: 1%;
    margin-right: 0.5%;
    margin-bottom: 1.5%;
    border-radius:20px;
    background-color: #63abe2;
}
.float-right {
    float: right;
    width: 75%;
    height: 300px;
    padding: 1%;
    margin-left: 0.5%;
    margin-bottom: 1.5%;
    border-radius:20px;
    background-color: #63abe2;
}

.contaxt {
    font-size: 23px;
    color: white;
    text-align: center;
}

.cimp {
    font-size: 16px;
    color: white;
    text-align: center;
}

.htt {
    font-size: 23px;
    font-weight: bold;
    padding: 1.8%;
}

.emp {
    font-weight: bold;
}

.initiative {
    width: 100%;
    /*padding: 1%;*/
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

.list {
    list-style: none;
    padding-left: 0;
    background-color: #fcfcfc;
    border-radius: 20px;
    margin-bottom: 1%;
}

.partner-item {
    display: inline-block;
    padding: 20px;
}

.initiativetext {
    font-weight: lighter;
    color: #FFFFFF;
    font-size: 20px;
}

.content-background {
    border-radius:20px;
    background-color: #63abe2;
    width: 100%;
    display: inline-block;
    
}

.content-image2 {
    float: left;
    width: 40%;
    padding: 1%;
    margin-right: 0.5%;
    border-radius:20px;
    background-color: #63abe2;

}

.content-text {
    color: white;
    margin: auto;
    padding: 1%;
    font-size: 18px;
    text-align: justify;
}

.big {
    font-size: 40px;
}

.event-item-dateLocation{
    color: #242424;
    font-size: 18px;
    font-weight: bolder;
}

.event-item-title{
    color: #353535;
    font-size: 16px;
    font-weight: normal;
}

.event-item-startEndTime{
    color: #242424;
    font-size: 14px;
    font-weight: bold;
}

.event-item-name{
    color: #555555;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    
}

/* Reno -> Profiel */

.row {
    margin: 0 0 15px 0 !important;
}

.buttons {
    margin: 0;
}

.footer {
    height: 50px;
}