<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base data-ice="baseUrl" href="../../../../">
  <title data-ice="title">public_html/assets/libraries/ngAlertify.js | API Document</title>
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <link type="text/css" rel="stylesheet" href="css/prettify-tomorrow.css">
  <script src="script/prettify/prettify.js"></script>
  
  
  <script src="script/manual.js"></script>
</head>
<body class="layout-container" data-ice="rootContainer">

<header>
  <a href="./">Home</a>
  
  <a href="identifiers.html">Reference</a>
  <a href="source.html">Source</a>
  
  
  <div class="search-box">
  <span>
    <img src="./image/search.png">
    <span class="search-input-edge"></span><input class="search-input"><span class="search-input-edge"></span>
  </span>
    <ul class="search-result"></ul>
  </div>
</header>

<nav class="navigation" data-ice="nav"><div>
  <ul>
    
  </ul>
</div>
</nav>

<div class="content" data-ice="content"><h1 data-ice="title">public_html/assets/libraries/ngAlertify.js</h1>
<pre class="source-code line-number raw-source-code"><code class="prettyprint linenums" data-ice="content">angular.module(&quot;ngAlertify&quot;,[]).factory(&quot;alertify&quot;,function(){&quot;use strict&quot;;var t={exports:!0};!function(){function e(){var t={parent:document.body,version:&quot;1.0.11&quot;,defaultOkLabel:&quot;Ok&quot;,okLabel:&quot;Ok&quot;,defaultCancelLabel:&quot;Cancel&quot;,cancelLabel:&quot;Cancel&quot;,defaultMaxLogItems:2,maxLogItems:2,promptValue:&quot;&quot;,promptPlaceholder:&quot;&quot;,closeLogOnClick:!1,closeLogOnClickDefault:!1,delay:5e3,defaultDelay:5e3,logContainerClass:&quot;alertify-logs&quot;,logContainerDefaultClass:&quot;alertify-logs&quot;,dialogs:{buttons:{holder:&quot;&lt;nav&gt;{{buttons}}&lt;/nav&gt;&quot;,ok:&quot;&lt;button class=&apos;ok&apos; tabindex=&apos;1&apos;&gt;{{ok}}&lt;/button&gt;&quot;,cancel:&quot;&lt;button class=&apos;cancel&apos; tabindex=&apos;2&apos;&gt;{{cancel}}&lt;/button&gt;&quot;},input:&quot;&lt;input type=&apos;text&apos;&gt;&quot;,message:&quot;&lt;p class=&apos;msg&apos;&gt;{{message}}&lt;/p&gt;&quot;,log:&quot;&lt;div class=&apos;{{class}}&apos;&gt;{{message}}&lt;/div&gt;&quot;},defaultDialogs:{buttons:{holder:&quot;&lt;nav&gt;{{buttons}}&lt;/nav&gt;&quot;,ok:&quot;&lt;button class=&apos;ok&apos; tabindex=&apos;1&apos;&gt;{{ok}}&lt;/button&gt;&quot;,cancel:&quot;&lt;button class=&apos;cancel&apos; tabindex=&apos;2&apos;&gt;{{cancel}}&lt;/button&gt;&quot;},input:&quot;&lt;input type=&apos;text&apos;&gt;&quot;,message:&quot;&lt;p class=&apos;msg&apos;&gt;{{message}}&lt;/p&gt;&quot;,log:&quot;&lt;div class=&apos;{{class}}&apos;&gt;{{message}}&lt;/div&gt;&quot;},build:function(t){var e=this.dialogs.buttons.ok,o=&quot;&lt;div class=&apos;dialog&apos;&gt;&lt;div&gt;&quot;+this.dialogs.message.replace(&quot;{{message}}&quot;,t.message);return&quot;confirm&quot;!==t.type&amp;&amp;&quot;prompt&quot;!==t.type||(e=this.dialogs.buttons.cancel+this.dialogs.buttons.ok),&quot;prompt&quot;===t.type&amp;&amp;(o+=this.dialogs.input),o=(o+this.dialogs.buttons.holder+&quot;&lt;/div&gt;&lt;/div&gt;&quot;).replace(&quot;{{buttons}}&quot;,e).replace(&quot;{{ok}}&quot;,this.okLabel).replace(&quot;{{cancel}}&quot;,this.cancelLabel)},setCloseLogOnClick:function(t){this.closeLogOnClick=!!t},close:function(t,e){this.closeLogOnClick&amp;&amp;t.addEventListener(&quot;click&quot;,function(){n(t)}),e=e&amp;&amp;!isNaN(+e)?+e:this.delay,0&gt;e?n(t):e&gt;0&amp;&amp;setTimeout(function(){n(t)},e)},dialog:function(t,e,o,n){return this.setup({type:e,message:t,onOkay:o,onCancel:n})},log:function(t,e,o){var n=document.querySelectorAll(&quot;.alertify-logs &gt; div&quot;);if(n){var i=n.length-this.maxLogItems;if(i&gt;=0)for(var a=0,l=i+1;l&gt;a;a++)this.close(n[a],-1)}this.notify(t,e,o)},setLogPosition:function(t){this.logContainerClass=&quot;alertify-logs &quot;+t},setupLogContainer:function(){var t=document.querySelector(&quot;.alertify-logs&quot;),e=this.logContainerClass;return t||(t=document.createElement(&quot;div&quot;),t.className=e,this.parent.appendChild(t)),t.className!==e&amp;&amp;(t.className=e),t},notify:function(e,o,n){var i=this.setupLogContainer(),a=document.createElement(&quot;div&quot;);a.className=o||&quot;default&quot;,t.logTemplateMethod?a.innerHTML=t.logTemplateMethod(e):a.innerHTML=e,&quot;function&quot;==typeof n&amp;&amp;a.addEventListener(&quot;click&quot;,n),i.appendChild(a),setTimeout(function(){a.className+=&quot; show&quot;},10),this.close(a,this.delay)},setup:function(t){function e(e){&quot;function&quot;!=typeof e&amp;&amp;(e=function(){}),i&amp;&amp;i.addEventListener(&quot;click&quot;,function(i){t.onOkay&amp;&amp;&quot;function&quot;==typeof t.onOkay&amp;&amp;(l?t.onOkay(l.value,i):t.onOkay(i)),e(l?{buttonClicked:&quot;ok&quot;,inputValue:l.value,event:i}:{buttonClicked:&quot;ok&quot;,event:i}),n(o)}),a&amp;&amp;a.addEventListener(&quot;click&quot;,function(i){t.onCancel&amp;&amp;&quot;function&quot;==typeof t.onCancel&amp;&amp;t.onCancel(i),e({buttonClicked:&quot;cancel&quot;,event:i}),n(o)}),l&amp;&amp;l.addEventListener(&quot;keyup&quot;,function(t){13===t.which&amp;&amp;i.click()})}var o=document.createElement(&quot;div&quot;);o.className=&quot;alertify hide&quot;,o.innerHTML=this.build(t);var i=o.querySelector(&quot;.ok&quot;),a=o.querySelector(&quot;.cancel&quot;),l=o.querySelector(&quot;input&quot;),r=o.querySelector(&quot;label&quot;);l&amp;&amp;(&quot;string&quot;==typeof this.promptPlaceholder&amp;&amp;(r?r.textContent=this.promptPlaceholder:l.placeholder=this.promptPlaceholder),&quot;string&quot;==typeof this.promptValue&amp;&amp;(l.value=this.promptValue));var s;return&quot;function&quot;==typeof Promise?s=new Promise(e):e(),this.parent.appendChild(o),setTimeout(function(){o.classList.remove(&quot;hide&quot;),l&amp;&amp;t.type&amp;&amp;&quot;prompt&quot;===t.type?(l.select(),l.focus()):i&amp;&amp;i.focus()},100),s},okBtn:function(t){return this.okLabel=t,this},setDelay:function(t){return t=t||0,this.delay=isNaN(t)?this.defaultDelay:parseInt(t,10),this},cancelBtn:function(t){return this.cancelLabel=t,this},setMaxLogItems:function(t){this.maxLogItems=parseInt(t||this.defaultMaxLogItems)},theme:function(t){switch(t.toLowerCase()){case&quot;bootstrap&quot;:this.dialogs.buttons.ok=&quot;&lt;button class=&apos;ok btn btn-primary&apos; tabindex=&apos;1&apos;&gt;{{ok}}&lt;/button&gt;&quot;,this.dialogs.buttons.cancel=&quot;&lt;button class=&apos;cancel btn btn-default&apos; tabindex=&apos;2&apos;&gt;{{cancel}}&lt;/button&gt;&quot;,this.dialogs.input=&quot;&lt;input type=&apos;text&apos; class=&apos;form-control&apos;&gt;&quot;;break;case&quot;purecss&quot;:this.dialogs.buttons.ok=&quot;&lt;button class=&apos;ok pure-button&apos; tabindex=&apos;1&apos;&gt;{{ok}}&lt;/button&gt;&quot;,this.dialogs.buttons.cancel=&quot;&lt;button class=&apos;cancel pure-button&apos; tabindex=&apos;2&apos;&gt;{{cancel}}&lt;/button&gt;&quot;;break;case&quot;mdl&quot;:case&quot;material-design-light&quot;:this.dialogs.buttons.ok=&quot;&lt;button class=&apos;ok mdl-button mdl-js-button mdl-js-ripple-effect&apos;  tabindex=&apos;1&apos;&gt;{{ok}}&lt;/button&gt;&quot;,this.dialogs.buttons.cancel=&quot;&lt;button class=&apos;cancel mdl-button mdl-js-button mdl-js-ripple-effect&apos; tabindex=&apos;2&apos;&gt;{{cancel}}&lt;/button&gt;&quot;,this.dialogs.input=&quot;&lt;div class=&apos;mdl-textfield mdl-js-textfield&apos;&gt;&lt;input class=&apos;mdl-textfield__input&apos;&gt;&lt;label class=&apos;md-textfield__label&apos;&gt;&lt;/label&gt;&lt;/div&gt;&quot;;break;case&quot;angular-material&quot;:this.dialogs.buttons.ok=&quot;&lt;button class=&apos;ok md-primary md-button&apos; tabindex=&apos;1&apos;&gt;{{ok}}&lt;/button&gt;&quot;,this.dialogs.buttons.cancel=&quot;&lt;button class=&apos;cancel md-button&apos; tabindex=&apos;2&apos;&gt;{{cancel}}&lt;/button&gt;&quot;,this.dialogs.input=&quot;&lt;div layout=&apos;column&apos;&gt;&lt;md-input-container md-no-float&gt;&lt;input type=&apos;text&apos;&gt;&lt;/md-input-container&gt;&lt;/div&gt;&quot;;break;case&quot;default&quot;:default:this.dialogs.buttons.ok=this.defaultDialogs.buttons.ok,this.dialogs.buttons.cancel=this.defaultDialogs.buttons.cancel,this.dialogs.input=this.defaultDialogs.input}},reset:function(){this.parent=document.body,this.theme(&quot;default&quot;),this.okBtn(this.defaultOkLabel),this.cancelBtn(this.defaultCancelLabel),this.setMaxLogItems(),this.promptValue=&quot;&quot;,this.promptPlaceholder=&quot;&quot;,this.delay=this.defaultDelay,this.setCloseLogOnClick(this.closeLogOnClickDefault),this.setLogPosition(&quot;bottom left&quot;),this.logTemplateMethod=null},injectCSS:function(){if(!document.querySelector(&quot;#alertifyCSS&quot;)){var t=document.getElementsByTagName(&quot;head&quot;)[0],e=document.createElement(&quot;style&quot;);e.type=&quot;text/css&quot;,e.id=&quot;alertifyCSS&quot;,e.innerHTML=&quot;.alertify-logs&gt;*{padding:12px 24px;color:#fff;box-shadow:0 2px 5px 0 rgba(0,0,0,.2);border-radius:1px}.alertify-logs&gt;*,.alertify-logs&gt;.default{background:rgba(0,0,0,.8)}.alertify-logs&gt;.error{background:rgba(244,67,54,.8)}.alertify-logs&gt;.success{background:rgba(76,175,80,.9)}.alertify{position:fixed;background-color:rgba(0,0,0,.3);left:0;right:0;top:0;bottom:0;width:100%;height:100%;z-index:1}.alertify.hide{opacity:0;pointer-events:none}.alertify,.alertify.show{box-sizing:border-box;transition:all .33s cubic-bezier(.25,.8,.25,1)}.alertify,.alertify *{box-sizing:border-box}.alertify .dialog{padding:12px}.alertify .alert,.alertify .dialog{width:100%;margin:0 auto;position:relative;top:50%;transform:translateY(-50%)}.alertify .alert&gt;*,.alertify .dialog&gt;*{width:400px;max-width:95%;margin:0 auto;text-align:center;padding:12px;background:#fff;box-shadow:0 2px 4px -1px rgba(0,0,0,.14),0 4px 5px 0 rgba(0,0,0,.098),0 1px 10px 0 rgba(0,0,0,.084)}.alertify .alert .msg,.alertify .dialog .msg{padding:12px;margin-bottom:12px;margin:0;text-align:left}.alertify .alert input:not(.form-control),.alertify .dialog input:not(.form-control){margin-bottom:15px;width:100%;font-size:100%;padding:12px}.alertify .alert input:not(.form-control):focus,.alertify .dialog input:not(.form-control):focus{outline-offset:-2px}.alertify .alert nav,.alertify .dialog nav{text-align:right}.alertify .alert nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button),.alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button){background:transparent;box-sizing:border-box;color:rgba(0,0,0,.87);position:relative;outline:0;border:0;display:inline-block;-ms-flex-align:center;-ms-grid-row-align:center;align-items:center;padding:0 6px;margin:6px 8px;line-height:36px;min-height:36px;white-space:nowrap;min-width:88px;text-align:center;text-transform:uppercase;font-size:14px;text-decoration:none;cursor:pointer;border:1px solid transparent;border-radius:2px}.alertify .alert nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):active,.alertify .alert nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):hover,.alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):active,.alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):hover{background-color:rgba(0,0,0,.05)}.alertify .alert nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):focus,.alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):focus{border:1px solid rgba(0,0,0,.1)}.alertify .alert nav button.btn,.alertify .dialog nav button.btn{margin:6px 4px}.alertify-logs{position:fixed;z-index:1}.alertify-logs.bottom,.alertify-logs:not(.top){bottom:16px}.alertify-logs.left,.alertify-logs:not(.right){left:16px}.alertify-logs.left&gt;*,.alertify-logs:not(.right)&gt;*{float:left;transform:translateZ(0);height:auto}.alertify-logs.left&gt;.show,.alertify-logs:not(.right)&gt;.show{left:0}.alertify-logs.left&gt;*,.alertify-logs.left&gt;.hide,.alertify-logs:not(.right)&gt;*,.alertify-logs:not(.right)&gt;.hide{left:-110%}.alertify-logs.right{right:16px}.alertify-logs.right&gt;*{float:right;transform:translateZ(0)}.alertify-logs.right&gt;.show{right:0;opacity:1}.alertify-logs.right&gt;*,.alertify-logs.right&gt;.hide{right:-110%;opacity:0}.alertify-logs.top{top:0}.alertify-logs&gt;*{box-sizing:border-box;transition:all .4s cubic-bezier(.25,.8,.25,1);position:relative;clear:both;backface-visibility:hidden;perspective:1000;max-height:0;margin:0;padding:0;overflow:hidden;opacity:0;pointer-events:none}.alertify-logs&gt;.show{margin-top:12px;opacity:1;max-height:1000px;padding:12px;pointer-events:auto}&quot;,t.insertBefore(e,t.firstChild)}},removeCSS:function(){var t=document.querySelector(&quot;#alertifyCSS&quot;);t&amp;&amp;t.parentNode&amp;&amp;t.parentNode.removeChild(t)}};return t.injectCSS(),{_$alertify:t,parent:function(e){t.parent=e},reset:function(){return t.reset(),this},alert:function(e,o,n){return t.dialog(e,&quot;alert&quot;,o,n)||this},confirm:function(e,o,n){return t.dialog(e,&quot;confirm&quot;,o,n)||this},prompt:function(e,o,n){return t.dialog(e,&quot;prompt&quot;,o,n)||this},log:function(e,o){return t.log(e,&quot;default&quot;,o),this},theme:function(e){return t.theme(e),this},success:function(e,o){return t.log(e,&quot;success&quot;,o),this},error:function(e,o){return t.log(e,&quot;error&quot;,o),this},cancelBtn:function(e){return t.cancelBtn(e),this},okBtn:function(e){return t.okBtn(e),this},delay:function(e){return t.setDelay(e),this},placeholder:function(e){return t.promptPlaceholder=e,this},defaultValue:function(e){return t.promptValue=e,this},maxLogItems:function(e){return t.setMaxLogItems(e),this},closeLogOnClick:function(e){return t.setCloseLogOnClick(!!e),this},logPosition:function(e){return t.setLogPosition(e||&quot;&quot;),this},setLogTemplate:function(e){return t.logTemplateMethod=e,this},clearLogs:function(){return t.setupLogContainer().innerHTML=&quot;&quot;,this},version:t.version}}var o=500,n=function(t){if(t){var e=function(){t&amp;&amp;t.parentNode&amp;&amp;t.parentNode.removeChild(t)};t.classList.remove(&quot;show&quot;),t.classList.add(&quot;hide&quot;),t.addEventListener(&quot;transitionend&quot;,e),setTimeout(e,o)}};if(&quot;undefined&quot;!=typeof t&amp;&amp;t&amp;&amp;t.exports){t.exports=function(){return new e};var i=new e;for(var a in i)t.exports[a]=i[a]}else&quot;function&quot;==typeof define&amp;&amp;define.amd?define(function(){return new e}):window.alertify=new e}();var e=t.exports;return new e});</code></pre>

</div>

<footer class="footer">
  Generated by <a href="https://esdoc.org">ESDoc<span data-ice="esdocVersion">(0.5.2)</span><img src="./image/esdoc-logo-mini-black.png"></a>
</footer>

<script src="script/search_index.js"></script>
<script src="script/search.js"></script>
<script src="script/pretty-print.js"></script>
<script src="script/inherited-summary.js"></script>
<script src="script/test-summary.js"></script>
<script src="script/inner-link.js"></script>
<script src="script/patch-for-local.js"></script>
</body>
</html>
