/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

colors: 
    lightblue: rgb(0, 175, 196); 
    darkblue: rgb(41, 47, 114);
*/
/* 
    Created on : Dec 12, 2016, 3:27:27 PM
    Author     : Sezer
*/


.loginBox {
    background-color: #fff;
    padding: 10%
}

label {
    color: #FFFFFF;
}

.hubButton {
    background-color: rgb(41, 47, 114);
    border: 0px;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 10px;
}

.welcomeMessage {
    color:#3899dd;
    font-weight:700;
    margin-left:27%;
}
input[type="email"],input[type="password"]{
    width:50% !important;
}
form[name="loginForm"]{
    margin-left:35%;
}

