<div class = "bodyMainContainer">
    <h1 class="title">Opdrachtgever Toevoegen

        <button type="button" class="btn btn-default btn-sm terug"
                ng-click="gotoProfiel()">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Terug
        </button></h1>

    <div class="panel panel-default">
        <div id="formDingus" class="row">

            <form name="registrationForm" class="panel-body" novalidate>
                <div class="col-md-6 col-sm-12 profile-column">

                    <div class="form-group">
                        <label for="voornaam" class="inputfield-title">Voornaam*</label>
                        <input type="text" id="voornaam" class="form-control inputField" ng-model="voornaam" placeholder="Bijv. Thomas" ng-required="true" />
                    </div>

                    <div class="form-group">
                        <label for="telefoonnummer" class="inputfield-title">Telefoonnummer</label>
                        <input id="telefoonnummer" type="text" class="form-control inputField" ng-model="telefoonnummer" placeholder="Bijv. 0614434798" ng-required="false" />
                    </div>

                    <button type="submit" class="btn btn-success" ng-disabled="registrationForm.$invalid" ng-click="createClient()">Toevoegen</button>

                </div>

                <div class="col-md-6 col-sm-12 profile-column">

                </div>
            </form>
        </div>
    </div>
</div>