
<div class = "bodyMainContainer">
<h1></h1>
    <div class="panel panel-default">
        <div class="files_info_table">
            <table class="table table-file-information">
                <tbody>
                <tr>
                    <td class="table_file_title">Dossiernummer</td>
                    <td class="table_file_info"><input type="text" id="nummer" ng-model="files.nummer" value="{{ files.nummer }}">{{ files.nummer }}</td>
                    <td class="table_file_title">Dossiertype afdeling</td>
                    <td class="table_file_info">
                        <select ng-model="Afdeling" ng-change="changeFields()"onChange="changeCSS(this.value)" class="test" name="Afdeling">
                            <option value="1">Property</option>
                            <option value="2">Mobility</option>
                            <option value="3">Vitality</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="table_file_title">Dossierstatus</td>
                    <td class="table_file_info"><input type="text" ng-model="Dossierstatus"></td>
                    <td class="table_file_title">Schade nummer</td>
                    <td class="table_file_info"><input type="text" ng-model="Schade_nummer"></td>
                </tr>
                <tr>
                    <td class="table_file_title">Opdrachtdatum</td>
                    <td class="table_file_info"><input type="text" ng-model="Opdrachtdatum"></td>
                    <td class="table_file_title mobility">Merk</td>
                    <td class="table_file_title property">Plaats</td>
                    <td class="table_file_title vitality">Slachtoffernaam</td>
                    <td class="">
                        <input class="mobility" type="text" ng-model="mobility_merk">
                        <input class="property" type="text" ng-model="property_plaats">
                        <input class="vitality" type="text" ng-model="vitality_slachtoffernaam">
                    </td>

                </tr>
                <tr>
                    <td class="table_file_title">Polisnummer</td>
                    <td class="table_file_info"><input type="text" ng-model="Polisnummer"></td>
                    <td class="table_file_title mobility">Type</td>
                    <td class="table_file_title property">Adres</td>
                    <td class="table_file_title vitality">Beschrijving</td>
                    <td class="">
                        <input class="mobility" type="text" ng-model="mobility_type">
                        <input class="property" type="text" ng-model="property_adres">
                        <input class="vitality" type="text" ng-model="vitality_beschrijving">
                    </td>
                </tr>
                <tr>
                    <td class="table_file_title">Expert</td>
                    <td class="table_file_info"><input type="text" ng-model="Expert"></td>
                    <td class="table_file_title mobility">Kenteken</td>
                    <td class="table_file_title property">Huisnummer</td>
                    <td class="">
                        <input class="mobility" type="text" ng-model="mobility_kenteken">
                        <input class="property" type="text" ng-model="property_huisnummer">
                    </td>
                </tr>
                <tr>
                    <td class="table_file_title">- Expertnaam</td>
                    <td class="table_file_info"><input type="text" ng-model="Expertnaam"> </td>
                    <td class="table_file_title mobility">Automaat</td>
                    <td class="table_file_title property">Toevoeging</td>
                    <td class="">
                        <select class="mobility" ng-model="mobility_automaat">
                            <option value="1">Ja</option>
                            <option value="0">Nee</option>
                        </select>
                        <input class="property" type="text" ng-model="property_toevoeging">
                    </td>
                </tr>
                <tr>
                    <td class="table_file_title">- Expert tel.</td>
                    <td class="table_file_info"><input type="text" ng-model="Expert_tel"></td>
                    <td class="table_file_title property">Type</td>
                    <td class="">
                        <input class="property" type="text" ng-model="property_type">
                    </td>
                </tr>
                <tr>
                    <td class="table_file_title">- Expert E-mail</td>
                    <td class="table_file_info"><input type="text" ng-model="Expert_Email"></td>
                </tr>
                <tr>
                    <td></td><td></td>
                    <td class="table_file_title">Kwalificatie</td>
                    <td class="table_file_info"><input type="text" ng-model="Kwalificatie"></td>
                </tr>
                <tr>
                    <td class="table_file_title">Opdrachtgever</td>
                    <td class="table_file_info"><input type="text" ng-model="Opdrachtgever"></td>
                </tr>
                <tr>
                    <td class="table_file_title">Opdrachtgever tel.</td>
                    <td class="table_file_info"><input type="text" ng-model="Opdrachtgever_tel"></td>
                </tr>
                <tr>
                    <td class="table_file_title">Datum Nieuw Reg.</td>
                    <td class="table_file_info"><input type="text" ng-model="Datum_Nieuw_Reg"></td>
                </tr>
                <tr>
                    <td class="table_file_title">Stratiedatum</td>
                    <td class="table_file_info"><input type="text" ng-model="Stratiedatum"></td>
                </tr>
                <tr>
                    <td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td>
                </tr>
                </tbody>
            </table>
            <!--//TODO Change button-->
            <!--<input type="submit" class="btn btn-primary submitBtn" value="Bewerken" ng-disabled="registrationForm.$invalid" disabled="disabled">-->
            <input type="submit" class="btn btn-primary submitBtn" ng-click="startTheSequence()" value="Toevoegen">
        </div>
    </div>
</div>
<script>
    var mobility = document.getElementsByClassName("mobility");
    var property = document.getElementsByClassName("property");
    var vitality = document.getElementsByClassName("vitality");
    hideProperty();
    hideMobility();
    hideVitality();
    function changeCSS(option) {
        switch(option){
            case '1':
                showProperty();
                break;
            case "2":
                showMobility();
                break;
            case '3':
                showVitality();
                break;
            default:
                alert('NO, don\'t hack me');
                break;
        }
    }

    function showMobility() {
        hideProperty();
        hideVitality();
        for(var i =0, il = mobility.length;i<il;i++){
            mobility[i].style.display = "block";
        }
    }
    function hideMobility() {
        for(var i =0, il = mobility.length;i<il;i++){
            mobility[i].style.display = "none";
        }
    }
    function showProperty() {
        hideVitality();
        hideMobility();
        for(var i =0, il = property.length;i<il;i++){
            property[i].style.display = "block";
        }
    }
    function hideProperty() {
        for(var i =0, il = property.length;i<il;i++){
            property[i].style.display = "none";
        }

    }
    function showVitality() {
        hideProperty();
        hideMobility();
        for(var i =0, il = vitality.length;i<il;i++){
            vitality[i].style.display = "block";
        }
    }
    function hideVitality() {
        for(var i =0, il = vitality.length;i<il;i++){
            vitality[i].style.display = "none";
        }
    }
</script>