<div class = "bodyMainContainer">

    <h1 class="title" ng-if="user.tussenvoegsel">{{ user.voornaam }} {{ user.tussenvoegsel }} {{ user.achternaam }}
        <button style="margin-left: 5px;" type="button" class="btn btn-default btn-sm terug" 
                ng-click="gotoProfiel()">
            <span class="glyphicon glyphicon-chevron-left"></span> 
             Terug
        </button> 
        <button type="button" class="btn btn-default btn-sm terug" 
                ng-click="gotoProfielEdit(user.id)">
            <span class="glyphicon glyphicon glyphicon-pencil"></span> 
             Bewerk
        </button>
    </h1>

    <h1 class="title" ng-if="!user.tussenvoegsel">{{ user.voornaam }} {{ user.achternaam }}
        <button style="margin-left: 5px;" type="button" class="btn btn-default btn-sm terug" ng-click="gotoProfiel()">
            <span class="glyphicon glyphicon-chevron-left"></span> 
             Terugg
        </button>
        <button style="margin-left: 5px;" type="button" class="btn btn-default btn-sm terug" ng-click="gotoDossierEdit(files.id)">
            <span class="glyphicon glyphicon glyphicon-pencil"></span> 
             Bewerk
        </button>
        <button style="margin-left: 5px;" type="button" class="btn btn-default btn-sm terug" ng-click="archiveDossier(files.id)">
            <span class="glyphicon glyphicon glyphicon-folder-close"></span>
            Verwijder (Archiveren)
        </button>
        <button type="button" class="btn btn-default btn-sm terug" ng-click="recoverDossier(files.id)">
            <span class="glyphicon glyphicon glyphicon-folder-open"></span>
            Recover (From Archive)
        </button>
    </h1>

    <div class="panel panel-default">
        <div class="files_info_table">
        <table class="table table-file-information">
            <tbody>
                <tr>
                    <td class="table_file_title">Dossiernummer</td>
                    <td class="table_file_info">{{ files.nummer }}</td>
                    <td class="table_file_title">Dossiertype afdeling</td>
                    <td ng-if="files.afdeling.mobility_kenteken != null" class="table_file_info">Mobility</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_info">Property</td>
                    <td ng-if="files.afdeling.vitality_slachtoffernaam != null" class="table_file_info">Vitality</td>
                </tr>
                <tr>
                    <td class="table_file_title">Dossierstatus</td>
                    <td class="table_file_info">
                        {{ files.status.beschrijving }}
                        <!--<select  class="table_file_info">-->

                            <!--<option>-&#45;&#45;Edit-&#45;&#45;</option>-->
                            <!--<option>1 - Nieuw</option>-->
                            <!--<option>2 - Wachten EXP</option>-->
                            <!--<option>3 - Wachten OG</option>-->
                            <!--<option ng-options="recoverDossier(files.id)">4 - Afgehandeld</option>-->
                        <!--</select>-->

                        <select  ng-model="dossierStatusSelected"
                                 ng-change="changedStatusValue(files.id, dossierStatusSelected)"
                                 data-ng-options="statusTemplate as statusTemplate.name for statusTemplate in statusTemplates">
                            <option value="">Select Account</option>
                        </select>
                        {{itemList}}
                    </td>

                    <td class="table_file_title">Schade nummer</td>
                    <td class="table_file_info">{{ files.schadenummer }}</td>
                </tr>
                <tr>
                    <td class="table_file_title">Opdrachtdatum</td>
                    <td class="table_file_info">{{ files.opdrachtdatum }}</td>
                    <td ng-if="files.afdeling.mobility_kenteken != null" class="table_file_title">Postcode</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_title">Plaats</td>
                    <td ng-if="files.afdeling.vitality_slachtoffernaam != null" class="table_file_title">Slachtoffernaam</td>
                    <td ng-if="files.afdeling.mobility_kenteken != null" class="table_file_info">{{ files.afdeling.postcode }}</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_info">{{ files.afdeling.property_plaats }}</td>
                    <td ng-if="files.afdeling.vitality_slachtoffernaam != null" class="table_file_info">{{ files.afdeling.vitality_slachtoffernaam }}</td>
                    
                </tr>
                <tr>
                    <td class="table_file_title">Polisnummer</td>
                    <td class="table_file_info">{{ files.polisnummer }}</td>
                    <td ng-if="files.afdeling.mobility_kenteken != null" class="table_file_title">Huisnummer</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_title">Adres</td>
                    <td ng-if="files.afdeling.vitality_slachtoffernaam != null" class="table_file_title">Beschrijving</td>
                    <td ng-if="files.afdeling.mobility_kenteken != null" class="table_file_info">{{ files.afdeling.huisnr }}</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_info">{{ files.afdeling.property_adres }}</td>
                    <td ng-if="files.afdeling.vitality_slachtoffernaam != null" class="table_file_info">{{ files.afdeling.vitality_beschrijving }}</td>
                </tr>
                <tr>
                    <td class="table_file_title">Expert</td>
                    <td class="table_file_info">{{ files.expert.achternaam }}</td>
                    <td ng-if="files.afdeling.mobility_kenteken != null" class="table_file_title">Kenteken</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_title">Huisnummer</td>
                    <td ng-if="files.afdeling.mobility_kenteken != null" class="table_file_info">{{ files.afdeling.mobility_kenteken }}</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_info">{{ files.afdeling.property_huisnr }}{{ files.afdeling.property_toevoeging }}</td>
                </tr>
                <tr>
                    <td class="table_file_title">- Expertnaam</td>
                    <td class="table_file_info">{{ files.expert.voornaam }} </td>
                    <td ng-if="files.afdeling.mobility_kenteken != null" class="table_file_title">Naam verzekerde</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_title">Postcode</td>
                    <td ng-if="files.afdeling.mobility_kenteken != null" class="table_file_info">{{ files.afdeling.naam_verzekerde }}</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_info">{{ files.afdeling.postcode }}</td>
                </tr>
                <tr>
                    <td class="table_file_title">- Expert tel.</td>
                    <td class="table_file_info">{{ files.expert.telefoonnummer }}</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_title">Type</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_info">{{ files.afdeling.property_type }}</td>
                </tr>
                <tr>
                    <td class="table_file_title">- Expert E-mail</td>
                    <td class="table_file_info">{{ files.expert.email }}</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_title">Naam verzekerde</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_info">{{ files.afdeling.naam_verzekerde }}</td>
                </tr>
                <tr>
                    <td></td><td></td>
                    <td class="table_file_title">Kwalificatie</td>
                    <td class="table_file_info">{{ files.kwalificatie }}</td>
                </tr>
                <tr>
                    <td class="table_file_title">Opdrachtgever</td>
                    <td class="table_file_info">{{ files.opdrachtgever.naam }}</td>
                </tr>
                <tr>
                    <td class="table_file_title">Opdrachtgever tel.</td>
                    <td class="table_file_info">{{ files.opdrachtgever.telefoonnummer }}</td>
                    <td class="table_file_title">Forensic</td>
                    <td ng-if="files.forensic.dossiernummer != 0" class="table_file_info">Ja</td>
                    <td ng-if="files.forensic.dossiernummer == 0" class="table_file_info">Nee</td>
                </tr>
                <tr>
                    <td class="table_file_title">Datum Nieuw Reg.</td>
                    <td class="table_file_info">{{ files.nieuw_registratiedatum }}</td>
                    <td ng-if="files.forensic.dossiernummer != 0" class="table_file_title">Dossiernummer forensic</td>
                    <td ng-if="files.forensic.dossiernummer != 0" class="table_file_info">{{ files.forensic.dossiernummer}} </td>
                </tr>
                <tr>
                    <td class="table_file_title">Stratiedatum</td>
                    <td class="table_file_info">{{ files.stratiedatum }}</td>
                    <td ng-if="files.forensic.dossiernummer != 0" class="table_file_title">Onderzoeker</td>
                    <td ng-if="files.forensic.dossiernummer != 0" class="table_file_info">{{ files.forensic.forensic_naam}}</td>
                </tr>
                <tr>
                    <td></td><td></td>
                    <td ng-if="files.forensic.dossiernummer != 0" class="table_file_title">Resultaat</td>
                    <td ng-if="files.forensic.dossiernummer != 0" class="table_file_info">{{ files.forensic.resultaat.resultaat }}</td>
                </tr>
                <tr>
                    <td></td><td></td>
                    <td ng-if="files.forensic.dossiernummer != 0" class="table_file_title">Factuur bedrijf for.</td>
                    <td ng-if="files.forensic.dossiernummer != 0" class="table_file_info">{{ files.forensic.factuur_bedrijf}}</td>
                </tr>
                <tr>
                    <td></td><td></td>
                    <td ng-if="files.forensic.dossiernummer != 0" class="table_file_title">Besparing</td>
                    <td ng-if="files.forensic.dossiernummer != 0" class="table_file_info">{{ files.forensic.besparing}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="Spacer"> </div>
</div>