<!-- Fixed navbar -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a ng-click="gotoLogin()" class="navbar-brand" class="logo link-alt">
                <img src="/assets/images/logo2.svg" height="75" alt="CED" style="margin-top:10px;"/>
            <p style="font-weight:700;font-size:25px;margin-top:5px;">
               <font color="#56238e">Property</font>
               <font color="#3899dd">Mobility</font>
               <font color="#78a82f">Vitality</font>
            </p>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav topMenu">
                
                <li ng-if="authenticated" ng-class="" ng-click="gotoManagementInfo()">
                    <a ng-click="gotoManagementInfo()"><font color="#56238e">Management informatie</font></a>
                </li>
                <li ng-if="authenticated" ng-class="{ 'active': isLocation('/dossier') }">
                    <a ng-click="gotoDossier()">
                    <font color="#3899dd">Dossier overzicht</font>
                    </a>
                </li>
                
                <li ng-if="authenticated" ng-class=""  >
                    <a ng-click="gotoProfiel()">
                    <font color="#78a82f">Gebruikers overzicht</font>
                    </a>
                </li>
                
                <li ng-if="authenticated" role="presentation"  ng-if="authenticated" ng-class="">
                    <a ng-click="gotoDossierArchive()">
                    <font color="#333333">Dossier archief</font>
                    </a>
                </li>

                <li role="presentation"  ng-if="authenticated">
                    <a ng-click="logout()">
                    <font color="#ff9933">Uitloggen</font>
                    </a>
                </li>
                <li style="margin-right:10px;" ng-if="!authenticated" ng-class="{ 'active': isLocation('/login') }">

                </li>
            </ul>
        </div>

    
    
