<div class="loginBox">
<h1 class="welcomeMessage">{{ authenticated ? authenticator.fullName : 'Welkom bij CED-Forensic' }}</h1>

<div ng-if="!authenticated">
        <form name="loginForm" ng-submit="login()" novalidate>
            <div class="form-group">
                <label><font color="#56238e">E-mailadres</font></label>
                <input type="email" class="form-control" ng-model="$parent.email" ng-required="true" value="admin@admin.com" />
            </div>
            <div class="form-group">
                <label><font color="#78a82f">Password</font></label>
                <input type="password" class="form-control" ng-model="$parent.password" ng-required="true" value="password" />
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="$parent.remember" />
                    <font color="#56238e">Gegevens onthouden</font>
                </label>
            </div>
            <input type="submit" class="hubButton" value="Inloggen" ng-disabled="loginForm.$invalid" />
        </form>
        
</div>
<div ng-if="authenticated">
    <div data-ng-init="gotoDossier()"></div>
</div>
</div>
