<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>Management Info</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Management Info</h1>
    <button type="button" class="btn btn-default btn-sm terug"
            ng-click="gotoProfiel()">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Terug
    </button>
    <form class="form">
        <div class="form-group">
            <input type="text" ng-model="search" class="form-control" placeholder="Zoeken">
        </div>
    </form>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <!-- CONTENT -->
<div class="Spacer"> </div>
    <!-- END CONTENT -->
</body>
</html>
