<div class = "bodyMainContainer">
    <h1 class="title">Profielen Toevoegen
    
    <button type="button" class="btn btn-default btn-sm terug" 
                ng-click="gotoProfiel()">
            <span class="glyphicon glyphicon-chevron-left"></span> 
             Terug
        </button> </h1>
    
    <div class="panel panel-default">
        <div id="formDingus" class="row">
            
            <form name="registrationForm" class="panel-body" ng-submit="register()" novalidate>
                <div class="col-md-6 col-sm-12 profile-column">
                    <div class="form-group">
                        <label for="voornaam" class="inputfield-title">Voornaam*</label>
                        <input type="text" id="voornaam" class="form-control inputField" ng-model="voornaam" placeholder="Bijv. Thomas" ng-required="true" />
                    </div>

                    <div class="form-group">
                        <label for="tussenvoegsel" class="inputfield-title">Tussenvoegsel</label>
                        <input id="tussenvoegsel" type="text" class="form-control inputField" ng-model="tussenvoegsel" placeholder="Bijv. de" ng-required="false" />
                    </div>

                    <div class="form-group">
                        <label for="achternaam" class="inputfield-title">Achternaam*</label>
                        <input id="achternaam" type="text" class="form-control inputField" ng-model="achternaam" placeholder="Bijv. Bakker" ng-required="true" />
                    </div>

                    <div class="form-group">
                        <label for="telefoonnummer" class="inputfield-title">Telefoonnummer</label>
                        <input id="telefoonnummer" type="text" class="form-control inputField" ng-model="telefoonnummer" placeholder="Bijv. 0614434798" ng-required="false" />
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 profile-column">                        
                    <div class="form-group">
                        <label for="rol" class="inputfield-title">Rol</label>
                        <select id="rol" class="form-control" ng-change="change()" ng-model="selectedRol" ng-options="x for x in names"></select>
                    </div>

                    <div class="form-group">
                        <label for="email" class="inputfield-title">E-mailadres*</label>
                        <input id="email" type="email" class="form-control inputField" ng-model="email" placeholder="Bijv. info@domein.nl" ng-required="true" />
                    </div>

                    <div class="form-group" ng-if="checker" >
                        <label for="wachtwoord" class="inputfield-title">Wachtwoord*</label>
                        <input id="wachtwoord" type="password" class="form-control inputField" ng-model="wachtwoord" ng-required="required" />
                    </div>
                    <button type="submit" class="btn btn-success" ng-disabled="registrationForm.$invalid">Toevoegen</button>
                </div>
            </form>
        </div>
    </div>
    <div class="Spacer"> </div>
</div>