<div class = "bodyMainContainer">
    <h1 class="title">Profielen Bewerken
        <button type="button" class="btn btn-default btn-sm terug" 
                ng-click="gotoProfielView(user.id)">
            <span class="glyphicon glyphicon-chevron-left"></span> 
             Terug
        </button></h1>
     
    <div class="panel panel-default">
        <div id="formDingus" class="row">
            
            <form name="registrationForm" class="panel-body" ng-submit="edit()" novalidate>
                <div class="col-md-6 col-sm-12 profile-column">
                    <div class="form-group">
                        <label for="voornaam" class="inputfield-title">Voornaam*</label>
                        <input type="text" id="voornaam" class="form-control inputField" ng-model="voornaam" placeholder="Bijv. Thomas" ng-required="true" />
                    </div>

                    <div class="form-group">
                        <label for="tussenvoegsel" class="inputfield-title">Tussenvoegsel</label>
                        <input id="tussenvoegsel" type="text" class="form-control inputField" ng-model="tussenvoegsel" placeholder="Bijv. de" ng-required="false" />
                    </div>

                    <div class="form-group">
                        <label for="achternaam" class="inputfield-title">Achternaam*</label>
                        <input id="achternaam" type="text" class="form-control inputField" ng-model="achternaam" placeholder="Bijv. Bakker" ng-required="true" />
                    </div>

                    <div class="form-group">
                        <label for="telefoonnummer" class="inputfield-title">Telefoonnummer</label>
                        <input id="telefoonnummer" type="text" class="form-control inputField" ng-model="telnr" placeholder="Bijv. 0614434798" ng-required="false" />
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 profile-column">
                                           
                    <div class="form-group">
                        <label for="rol" class="inputfield-title">Rol</label>
                        <select id="rol" class="form-control" ng-model="selectedRol" ng-model="rol" ng-options="x for x in names"></select>
                    </div>

                    <div class="form-group">
                        <label for="email" class="inputfield-title">E-mailadres*</label>
                        <input id="email" type="email" class="form-control inputField" ng-model="email" placeholder="Bijv. info@domein.nl" ng-required="true" />
                    </div>

                    <div class="form-group">
                        <label for="wachtwoord" class="inputfield-title">Wachtwoord</label>
                        <input id="wachtwoord" type="password" class="form-control inputField" ng-model="wachtwoord"/>
                    </div>
                    
                    <div class="submit-btn-div">
                        <input type="submit" class="btn btn-primary submitBtn" value="Bewerken" ng-disabled="registrationForm.$invalid"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="Spacer"> </div>
</div>