<div class="bodyMainContainer">    
    <h1 class="title">Zoeken</h1>

    <form class="form">
        <div class="form-group">
            <input type="text" ng-model="search" class="form-control" placeholder="Zoeken">
        </div>
    </form>

    <div class="panel panel-default">
        <div class="row">
            <svg ng-show="loading" class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
             </svg>
            
            <div ng-show="!loading" class="col-md-6 col-sm-12">
                <table class="table row-border hover">
                    <thead>
                        <th ng-click="sort('naam')">Bedrijfnaam <span class="glyphicon sort-icon" ng-show="sortKey==='naam'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th ng-click="sort('contactPersoonNaam')">Contactpersoon <span class="glyphicon sort-icon" ng-show="sortKey==='contactPersoonNaam'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th ng-click="sort('telefoonnummer')">Telefoonnummer <span class="glyphicon sort-icon" ng-show="sortKey==='telefoonnummer'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th style="display: none">Adres</th>
                        <th style="display: none">Plaats</th>
                        <th style="display: none">Postcode</th>
                        <th style="display: none">Taglijst</th>
                    </thead>
                    <tbody>
                        <tr dir-paginate="bedrijf in bedrijven|orderBy:sortKey:reverse|filterAll:search|itemsPerPage:12">
                            <td>{{ bedrijf.naam }}</td>
                            <td>{{ bedrijf.contactpersoonNaam }}</td>
                            <td>{{ bedrijf.contactpersoonTel }}</td>
                            <td style="display: none">{{ bedrijf.adres }}</td>
                            <td style="display: none">{{ bedrijf.plaats }}</td>
                            <td style="display: none">{{ bedrijf.postcode }}</td>
                            <td style="display: none">{{ bedrijf.tagLijst | join:', ':'naam' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="!loading" class="col-md-6 col-sm-12">
                <table class="table row-border hover">
                    <thead>
                        <th ng-click="sort('voornaam')">Voornaam <span class="glyphicon sort-icon" ng-show="sortKey==='voornaam'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th ng-click="sort('achternaam')">Achternaam <span class="glyphicon sort-icon" ng-show="sortKey==='achternaam'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th ng-click="sort('telefoonnummer')">Telefoonnummer <span class="glyphicon sort-icon" ng-show="sortKey==='telefoonnummer'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th style="display: none">Tussenvoegsel</th>
                        <th style="display: none">Adres</th>
                        <th style="display: none">Huisnummer</th>
                        <th style="display: none">Woonplaats</th>
                        <th style="display: none">Email</th>
                        <th style="display: none">Taglijst</th>
                    </thead>
                    <tbody>
                        <tr dir-paginate="user in users|orderBy:sortKey:reverse|filterAll:search|itemsPerPage:12">
                            <td>{{ user.voornaam }}</td>
                            <td>{{ user.achternaam }}</td>
                            <td>{{ user.telefoonnummer }}</td>
                            <td style="display: none">{{ user.tussenvoegsel }}</td>
                            <td style="display: none">{{ user.adres }}</td>
                            <td style="display: none">{{ user.huisnummer }}</td>
                            <td style="display: none">{{ user.woonplaats }}</td>
                            <td style="display: none">{{ user.email }}</td>
                            <td style="display: none">{{ user.tagLijst | join:', ':'naam' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-show="!loading" class="tablecontrols">
            <dir-pagination-controls
               max-size="5"
               direction-links="true"
               boundary-links="true" >
            </dir-pagination-controls>
        </div>
    </div>
</div>